{% extends '../layout.twig' %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="row my-5 text-center">
        <div class="col-md-12">
            <h1>404</h1>
            <hr>
            <p>{{  }}</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}